# fly.toml app configuration file generated for vote-zkurcg on 2025-12-02T09:06:49Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'vote-zkurcg'
primary_region = 'fra'

[build]

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 54400
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 4
  memory_mb = 2048
